html,
body {
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(batman_3840x2160_xtrafondos.com.jpg);
  background-size: cover; /* fills screen, keeps aspect ratio (may crop) */
  background-position: center; /* keeps image centered */
  background-repeat: no-repeat; /* no tiling */
}

.login {
  display: flex;
  justify-content: center;
  height: 100%;
}
.content {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5rem;
  border-radius: 10px;
  max-width: 500px;
}

.logo {
  margin-left: 22px;
  width: 100px;
  object-fit: contain;
}

h1 {
  color: #ccc;
  margin-bottom: 20px;
  margin-left: 25px;
}

.info {
  list-style-type: none;
}

.info input {
  padding: 10px;
  color: #ccc;
  border: 1px solid #ccc;
  background-color: #1c1b1b;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: left;
  width: 260px;
  transition: font-size 0.3s ease-in-out;
  margin-right: 20px;
}

.info input::placeholder {
  color: #ccc;
}
.info input:hover {
  font-size: larger;
}

.submit {
  border: none;
  padding: 8px;
  border-radius: 8px;
  width: 100px;
  background-color: #1c1b1b;
  color: #ccc;
  transition: font-size 0.3s ease-in-out;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.submit:hover {
  font-size: larger;
}

.info a {
  color: #ccc;
  text-decoration: none;
  margin-right: 18px;
}

h4 {
  color: #ccc;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}

.others {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.others button {
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: #1c1b1b;
  color: #ccc;
  margin-left: 1.5rem;
  width: 80%;
  transition: font-size 0.3s ease-in-out;
  box-shadow: 2px 2px rgba(, 0, 0, 0.5);
}

.others button:hover {
  font-size: larger;
}

.others a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
}
