* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

button {
    width: 45%;
    padding: 10px;
    background-color: #6200EA;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #3700B3;
}


input[type="text"],
input[type="number"] {
    width: 45%;
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    margin: 3px;
}

#expense-list button {
    margin: 0;
}

.expense {
    background-color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}