body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #183654;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #1f5081;
    padding: 50px;
    border-radius: 10px;
}

h1,h2 {
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
     box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.Inp {
    padding: 20px;
}

#taskbtn {
    border: none;
    background-color: rgb(4, 105, 4);
    /* background-color: rgb(209, 14, 14); */
    color: aliceblue;
    padding: 8px 0px 8px 0px;
    border-radius: 10px;
    width: 100%;
}

#taskInp {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

#taskList {
    list-style: none; 
}

.completed {
    text-decoration: line-through;
}

button {
    border: none;
    background-color: rgb(209, 14, 14);
    color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

li span {
    padding: 5px;
}